nav.navbar.navbar-expand-lg.navbar-light.bg-light
  .container
    a.navbar-brand(href='#') Navbar
    button.navbar-toggler(type='button' data-toggle='collapse' data-target='#h5-info' aria-expanded='false' aria-label='Toggle navigation')
      span
        i.fas.fa-bars
    .collapse.navbar-collapse
      ul.navbar-nav(style='')
        li.nav-item.dropdown.mega-dropdown.active
          a.nav-link.dropdown-toggle(href='#techno') NOS TECHNOS
        li.nav-item.dropdown.mega-dropdown
          a.nav-link.dropdown-toggle(href='#metiers') NOS M&Eacute;TIERS
        li.nav-item.dropdown
          a.nav-link.dropdown-toggle(href='#projets') NOS PROJETS
        // <li class="nav-item dropdown mega-dropdown"> <a class="nav-link dropdown-toggle" href="#temoignages"  >TÉMOIGNAGES</a></li>
        li.nav-item.dropdown.mega-dropdown
          a.nav-link.dropdown-toggle(href='#actualites') ACTUALIT&Eacute;S
        li.nav-item.dropdown.mega-dropdown
          a.nav-link.dropdown-toggle(href='#contact') CONTACT